/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
@keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(3rem); }
    100% {
      opacity: 1;
      transform: translate(0); } }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

.header{
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba(126,213,111,0.8), rgba(40,100,131,0.8)),url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    position: relative;

    clip-path: polygon(0 0,100% 0,100% 500px,0 100%) ;}
    .header__logo-box{
        position: absolute;
        top: 40px;
        left: 40px;
    }
    .header__logo{
        height: 35px;
    }

    .header__text-box{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }

    .heading-primary{
        color: #fff;
        text-transform: uppercase;
        margin-bottom: 60px;
    }

    .heading-primary--main{
        display: block;
        font-size: 60px;
        font-weight: 400;
        letter-spacing: 35px;

    }

    .heading-primary--sub{
        display: block;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 15px;
    }
    
    .btn:link,.btn:visited{
        text-decoration: none;
        text-transform: uppercase;
        padding: 15px 40px;
        display: inline-block;
        border-radius: 100px;
        transition: all .2s;
        position: relative;
    }

    .btn--white{
        background-color: #fff;
        color: #777;
    }

    .btn:hover{
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0,0,0,.2);
    }

    .btn:active{
        transform: translateY(-1px);
    }

    .btn::after{
        content:"";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }

    .btn--white::after{
        background-color:#fff ;
    }
    .btn:hover::after{
        transform: scaleX(1.4) scaleY(1.6S);
        opacity: 0;
    }
    .btn--animated {
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards; }

.navigation__checkbox {
    display: none; }
          
.navigation__button{
        background-color: #fff;
        height: 4rem;
        width: 4rem;
        position: fixed;
        top: 4rem;
        right: 4rem;
        border-radius: 50%;
        z-index: 2000;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
        text-align: center;
        cursor: pointer; 
}

.navigation__background{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    position: fixed;
    top: 4.5rem;
    right: 4.5rem;
    background-image: radial-gradient(#7ed56f, #28b485);
    z-index: 1000;
    transform: scale(50);
}

.navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
    z-index: 2000;
 }

    /* .navigation__nav {
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1500;
        opacity: 0;
        width: 0;
    } */